#about {
  margin-left: 95px;
  margin-bottom: 10px;
  font-size: 2rem;
}

#descrip-field {
  padding: none;
  font-size: 0.8rem;
}

.current {
  width: 80%;
  height: auto;
  margin: auto;
  padding: 10px;
  text-align: left;
}

.inactive {
  display: none;
}

.current:hover {
  background-color: #f8f8f8;
}

form {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
