#experiences {
  display: flex;
  gap: 30px;
  flex-direction: row;
  flex-wrap: wrap;
}

#middle-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
