#app {
  background-color: white;
  width: 75%;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-bottom: 200px;
}

p {
  font-size: 0.8rem;
}

.columns {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
